.panda-carousel-bg {
  border-radius: 20px;
}

.panda-bg-info {
  background-color: #fceae8;
}

.panda-by-now-btn {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
.catagories img {
  width: 100px;
}
.panda-catagories-des {
  padding: 20px 30px;
  border-radius: 20px;
}
.catagories-watch {
  background-color: orange;
}
.catagories-bag {
  background-color: orchid;
}
.catagories-shoes {
  background-color: blue;
}
